<html>
    <head>
        <title><%=title%></title>
        
    </head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="Nav_Bar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <body>

    <%- include('NavBar')%>
    <div id="main_Container" >
        <button> <a href="/create-project">Create Project</a><i class="fa-regular fa-plus"></i></button>
        <div style="width:98%; " id="Projects_Table">
            <div class="sticky Table-row" >
                <h3 class="Table-cell" style="flex-basis: 29%;">Name</h3>
                <h3 class="Table-cell" style="flex-basis: 39%;">Description</h3>
                <h3 class="Table-cell" style="flex-basis: 12%;">Author</h3>
                <h3 class="Table-cell" style="flex-basis: 12%;">Completion</h3>
            </div>
            <% for (i in Projects){%>
                <div class="test"> 
                    <a  class="Table-row Table-data" href='/project_description/?id=<%=Projects[i].id%>' style="cursor: pointer;">
                        <h4 class='Table-cell ' style="flex-basis: 30%; ; "><%=Projects[i].name%></h4>
                        <h4 class="Table-cell " style="flex-basis: 40%;"><%=Projects[i].description%></h4>
                        <h4 class="Table-cell " style="flex-basis: 11%; width:30px; "><%=Projects[i].author%></h4>
                        <h4 class="Table-cell " style="flex-basis: 9%;"><div class="Completion"><div class='_<%=Projects[i].completion%>'></div></div></h4> 
                    </a>
                    <a class="edit_Icon"style="flex-shrink: 0;" href='/project-edit/?id=<%=Projects[i].id%>'><i class="fa-solid fa-pen-to-square"></i></a>

                </div>
            
            <%}%>    
        </div>
    </body>
</html>